@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

 .navbar {
    background-color: #EDEDED;
    padding:10px;
}

.greenBar {
    background-color: #478d84;
    padding:10px;
}


.Logo-navbar {
    font-family: 'Fjalla One';
    font-size: 27px;
    color: rgb(42, 63, 84);
    max-width:100%;
    position: fixed;
    left: 30px;
    top: 15px;
    height: 50px;

}

.navbar-fixed-top {
    border: 0;
}


.navbar .navbar-nav > li > a {
    font-family: Helvetica;
    color: rgb(42, 63, 84); /*Change active text color here*/
}

.navbar .navbar-nav > li .logged > a {
    font-family: Helvetica;
    color: rgb(42, 63, 84); /*Change active text color here*/
}

.navbar .navbar-nav > li .notLogged {
    display: none
}

.houseIcon {
   font-size: 20px;
}

.userIcon {
    font-size: 20px;
    margin-left: 5px;

 }

 .menu-icon{
    color: rgb(42, 63, 84);
    opacity: 0;
    height: 50px;

}

.Logo-greenBar {
    font-family: 'Fjalla One';
    font-size: 27px;
    color: rgb(246, 246, 246);
    max-width:100%;
    position: fixed;
    left: 30px;
    top: 5px;
    height: 50px;

}

.greenBar .navbar-nav > li .notLogged {
    display: none
}

