
 .navbar {
    background-color: #222f3e;  
    padding:10px;
}
.Logo-navbar {
    margin: 0 0 0 0 ;
    max-width:100%;
    position: fixed;
    left: 60px;
    top: 21px;
    
}

.navbar-fixed-top {
    border: 0;
}

  @font-face {
    font-family: 'Dense';
    src: local('../fonts/dense/Dense-Regular.woff2') format('woff2'),
        local('../fonts/dense/Dense-Regular.woff') format('woff'),
        local('../fonts/dense/Dense-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.navbar-brand { 
    font-family: 'Dense'; 
    color: white; 
    font-size: 35px;
}


.menu-icon{
    color: rgb(253, 253, 253);
    float: left;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    margin: 0 10px 0 5px;
    padding-left: 5px;
    cursor: pointer;
}

.navbar .navbar-nav > li > a {
    font-family: Helvetica; 
    color: white; /*Change active text color here*/
}
