.page-header {

    margin-top: 150px;
    margin-left: -200px;
    text-align: center;
    font-family: 'Dense';
    font-size: 30px;
    font-weight: bold;

}

.profilePic {

}

.external-div{
    margin-top: 140px;
    text-align: center;

}

@font-face {
    font-family: "Dense";
    src: local("../fonts/dense/Dense-Regular.woff2") format("woff2"),
        local("../fonts/dense/Dense-Regular.woff") format("woff"),
        local("../fonts/dense/Dense-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
.Logo {
    height: auto;
    color: rgb(255, 255, 255);
    margin-top: 85px;
    align-content:  center;
    display:block;
    margin: 0 0 0 0;
    left: 50%;
}
.switch {
    font-family: "Dense";
    font-size: 100px;
}

.subTitle {
    font-size: 20px;
    margin-top: -10px;
}

.profileDetails {
    color: white;
}

h1{
    margin-bottom: 30px;
}

.userDetails{
    font-size: 12px;
}

.divUserDetails{
    display: inline-block;
    text-align: left;
}

.profileDetails {
    list-style-type: none;
    padding-right: 35px;
    font-family: Arial;
}

.profileDetails > li {
    line-height: 30px;
    color: rgb(231, 231, 231);
}

.name {
    font-size: 20px;
    color: rgb(223, 222, 222);
}

.profileDetails .role{
    color: rgb(135, 190, 178);
    font-weight: bold;

}


