
  .modal-body{
    padding-bottom: 0px;
  }
  
  .modal-footer{
   border: none;
  }
  
  .modal-title {
    color: rgb(121, 121, 121);
    font-weight: bold;
  }

  .modal-title > h5{
    color: rgb(135, 190, 178);
    font-weight: bold;
  }
  
  .modal-header{
    border: none;
  }
  
  .form-group{
    color: rgb(121, 121, 121);
    line-height: 35px;
  }
 
  .form-control{
    border: 1px solid rgb(207, 207, 207) !important;
    border-radius: 0px !important;
    box-shadow: none;
    font-family: Helvetica !important;
    color: rgb(112, 112, 112);
    font-weight: normal;
  }
  
  .form-control:focus{
    box-shadow: none;
  }
  
  .form-control::placeholder {
    color: rgb(112, 112, 112);
    font-size: 14px;
    font-family: Helvetica;
    font-weight: normal;
    margin-top: -10px;
  }
  
  