.newTitle {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    padding-top: 5px;

}

.h2 {
    font-family: 'Arial Narrow';
    font-size: 20px;
    font-weight: bold;
  }

  .buttonUpdate{
    margin-bottom: 200px;

  }

