.tableHeadAccordian {
    border-collapse: collapse;
}

.rowAccordian td {
    border: 1px solid rgb(46, 45, 45);
    padding: 0.5rem;
    text-align: left;
}

.rowAccordian {
    border: 1px solid rgb(46, 45, 45);
    padding: 0.5rem;
    text-align: left;
}
