.CreateRequest {
    padding: 60px 0;
  }



  .CreateRequest form {
    margin: 30 auto;
    max-width: 320px;
  }

  .buttonAssignmentRequest {
    background-color: rgb(37, 84, 105); /* Green */
    border: none;
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-weight:  normal;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
  }