.Bar {
    
    background: url("background.jpg");
    background-size:100% auto;
    background-repeat: no-repeat;
    text-align: center;
}
.logo-main {
    width: 50%;
    height: auto;
    


}
.Logo {
    height: auto;
    color: black;
    margin-top: 70px;
    display:block;
    margin: 0 0 0 0;
    left: 50%;
}

@font-face {
    font-family: "Dense";
    src: local("../fonts/dense/Dense-Regular.woff2") format("woff2"),
        local("../fonts/dense/Dense-Regular.woff") format("woff"),
        local("../fonts/dense/Dense-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.switch {
    font-family: "Dense";
    font-size: 100px;
}

.subTitle {
    font-size: 20px;
    margin-top: -10px;
}

.SignUp {
    text-align: center;
}

.LogIn {
    text-align: center;
}
