.Bar {

    background: rgb(27, 26, 29);
    width: 100%;
    height: 100%;
    padding: 0px;
    overflow: hidden;
    text-align: center;
    align-content:  center;


}
.logo-main {
    width: 50%;
    height: auto;



}
.Logo {
    height: auto;
    color: rgb(255, 255, 255);
    margin-top: 85px;
    align-content:  center;
    display:block;
    margin: 0 0 0 0;
    left: 50%;
}



@font-face {
    font-family: "Dense";
    src: local("../fonts/dense/Dense-Regular.woff2") format("woff2"),
        local("../fonts/dense/Dense-Regular.woff") format("woff"),
        local("../fonts/dense/Dense-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.switch {
    font-family: "Dense";
    height: 200px;
}

.subTitle {
    font-size: 20px;
    margin-top: -10px;
}

.SignUp {
    text-align: center;
    margin-top: 100px;
}

.LogIn {
    text-align: center;
}

.image {
    width: 100%;
    padding: 0px;
}

.spacer {

    padding: 10px;
    -webkit-animation: fadeInFromNone 2.5s ease-out;
    -moz-animation: fadeInFromNone 2.5s ease-out;
    -o-animation: fadeInFromNone 2.5s ease-out;
    animation: fadeInFromNone 2.5s ease-out;
}

.LogoStartPage{

    height: 600px;
    width:600px;
    text-align: center;
    align-content:  center;
    margin-left: 3px;

}

.ButtonsStartPage {
    margin-bottom:300px;

    padding-top: 0px;
    width: 100%;
    align-content:  center;
    text-align: center;


}

.tableButtom{
    margin: 0 auto;
    

}


@-webkit-keyframes fadeInFromNone {
0% {
    display: none;
    opacity: 0;
}

1% {
    display: block;
    opacity: 0;
}

100% {
    display: block;
    opacity: 1;
}
}

@-moz-keyframes fadeInFromNone {
0% {
    display: none;
    opacity: 0;
}

1% {
    display: block;
    opacity: 0;
}

100% {
    display: block;
    opacity: 1;
}
}

@-o-keyframes fadeInFromNone {
0% {
    display: none;
    opacity: 0;
}

1% {
    display: block;
    opacity: 0;
}

100% {
    display: block;
    opacity: 1;
}
}

@keyframes fadeInFromNone {
0% {
    display: none;
    opacity: 0;
}

1% {
    display: block;
    opacity: 0;
}

100% {
    display: block;
    opacity: 1;
}
}
