.uploadButton {
    background-color: rgb(135, 190, 178);
    border: none;
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-weight: normal;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    width: 140px;
    height: 32px;
    border-radius: 0;
    margin-bottom:8px;
}

.uploadButton:hover {
    background-color: #2a3f54;
    color: white;
}

.uploadButton:disabled{
    background-color: rgb(85, 107, 102);
}
