.uploadButton {
    background-color: rgb(135, 190, 178);
    border: none;
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-weight: normal;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    width: 140px;
    height: 32px;
    border-radius: 0;
    margin-bottom:8px;
}

.uploadButton:hover {
    background-color: #2a3f54;
    color: white;
}

.uploadButton:disabled{
    background-color: rgb(85, 107, 102);
}

.modal {
    position: absolute;
    top: 200px;
    left: 0;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
}

.modal-content{
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.modal-body{
    padding-bottom: 0px;
}

.modal-body > p {
    line-height: 25px;
    font-family: Helvetica;
    color: rgb(121, 121, 121);
    font-size: 14px;
}

.modal-footer{
    border: none;
}

.modal-title{
    color: rgb(121, 121, 121);
    font-weight: bold;
}

.modal-header{
    border: none;
}