.hide {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 0px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #2A3F54;
        transition: 500ms;
    }
}

.sidebar .menu  {
    margin-top: 15px;
    font-size: 15px;
    color: rgb(221, 221, 221);
    list-style:none;
    padding: 0px;
}




.sidebar .menu > li   {
    color: rgb(218, 218, 218);
    padding: 20px;
    border-bottom: 1px solid rgba(226, 226, 226, 0.082);
}


.sidebar .menu > li > a  {
    color: rgb(218, 218, 218);
}

.sidebar .menu > li > a:hover {
    color: rgb(172, 172, 172);
    text-decoration: none;
}





