.SignUp {
    padding: 60px 0;
    margin-bottom: 150px;
}

.SignUp form {
    margin: 0 auto;
    max-width: 320px;
}

.hide-code {
    display: none;
}

.hide-email {
    display: none;
}


.formField {
    text-align: left;
}


.formFieldDropDown {
    width:330px;
}

.stepTwoValidation {
    margin: 100px 600px auto 300px;
}

.validationCodeForm {
    margin: 100px 600px auto 600px;
}

.buttonValidationToolbar {
    margin: 10px auto auto auto;
}

.stepFourConfirmation {
    margin: 100px 300px auto 300px;
}

.sucessRegistrationText {
    font-size: 20px;
    margin-bottom: 50px;
}

.chooseValidationMethodText {
    font-size: 20px;
    margin-bottom: 5px;
}
