
.Item {
    font-size: 15px;
    margin-top: 15px;
}

.Item .icon {
    margin-top: -30px;
    margin-right: 20px;
    font-size: 10px;
    color: rgb(195, 195, 195);
}

.ItemButton {
    padding-right: 250px;
    padding-top: 35px;
    background: none;
    font-size: 15px;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    outline: none;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(150, 150, 150, 0.281);
}

.ItemButton:hover {
    padding-right: 250px;
    padding-top: 35px;
    font-size: 15px;
    background-color: rgba(27, 43, 56, 0.479);
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    font-weight: bold;
    border-bottom: 1px solid rgba(150, 150, 150, 0.281);

}

.title {
    padding-left: 15px;
    white-space: nowrap;
}

.title > a {
    color: rgb(221, 221, 221);
    text-decoration: none;
}

.title a:hover {
    text-decoration: none;
    font-weight: bold;
}

.title > a.active,
.title > a.active:focus {
    color: rgb(185, 184, 184);
    text-decoration: none;
}











