.table.table-hover.projectteam {
    background-color: #ecf0f1;
    margin-top: -10px;
    color: rgb(93, 93, 93);
}

.table.table-hover.projectteam > thead > tr > th {
    text-align: left;
    color: rgb(93, 93, 93);
    border-top: 0px solid #ddd;
}

.table.table-hover.projectteam > tbody > tr > td {
    text-align: left;
    color: rgb(93, 93, 93);
}

.table.table-hover.projectteam > tbody > tr > th{
    text-align: left;
    vertical-align: center;
    padding-right: 0px;
    padding-left: 0px;
    font-weight: 0px;
    color: rgb(93, 93, 93);
}




