@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.pageTitle{
    margin-left: 25px;
    font-size: 25px;
    font-family: Helvetica;
    color: rgb(98, 98, 98);
    padding-bottom: 50px;
    width: bold;
    margin-bottom: 25px;
}

.createProjectContainer{
    padding-top: 40px;
    padding-bottom: 20px;
    width: 700px;
}

.createProjectForm{
    margin-left: 30px;
    margin-bottom: 30px;
}

.textFormProject {
    padding-bottom: 10px;
    border: none;
    width: 550px;
    font-size: 12px;
}

.formTitle {
    color: rgb(98, 98, 98);
    font-family: 'Roboto', sans-serif;
}

.btn.btn-primary{
    font-family: 'Roboto', sans-serif;
    width: 183px;
    border: none;
}

.btn.btn-primary:hover{
    background-color: #2A3F54;
}

.projectManagerButton {
    background-color: rgb(135, 190, 178);
    background-image: none;
    color: white;
    border: white;
    font-size: 13px;
    width: 180px;
    height: 35px;
    border-radius: 0 !important;
}

.projectManagerButton:hover{
    background-color: #2a3f54;
    background-image: none;
    color: white;
    border: white;
    font-size: 13px;
    font-weight: bold;
    width: 180px;
    height: 35px;
    border-radius: 0 !important;
}
