@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.pageTitle{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    color: rgb(98, 98, 98);
    padding-bottom: 50px;
    width: bold;
}

.createProjectForm {
    padding-top: 50px;
}

.textForm {
    padding-bottom: 10px;
    border: none;
    width: 350px;
    font-size: 12px;
}

.formTitle {
    color: rgb(98, 98, 98);
    font-family: 'Roboto', sans-serif;
}

.btn.btn-primary{
    background-color: rgb(135, 190, 178);
    font-family: 'Roboto', sans-serif;
    width: 183px;
    border: none;
}

.btn.btn-primary:hover{
    background-color: #2A3F54;
}
