
.table {
    background-color: rgb(255, 255, 255);
}

.line {
    color: rgb(63, 63, 63); 
}

.h2 { 
    font-family: 'Arial Narrow';
    font-size: 20px;
    font-weight: bold;
  }

.pmBadge {
    margin-top: 8px;
    background-color: white;
    font-weight: bold;
    color: rgb(135, 190, 178);
    border: 2px solid rgb(135, 190, 178);
    border-radius: 15px;
    width: 38px;
    padding-right: 2px;
}