@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Oxygen');

.panel {
    border: none;
    border-bottom: 1px solid #e7e7e7;
    box-shadow: none;
    padding-bottom: 0px;
}

.panel-group .panel + .panel {
    margin-top: 0;
}
.table.table-title {
    font-size: 12px;
    font-family: 'Oxygen', sans-serif;
    color: #585858;
    border-bottom: 0px, solid;
}

.table > thead > tr > th {
    border-bottom: 0px solid #ddd;
    width: 140px;
}

.taskContent .table > thead > tr > th:hover {
    border-bottom: 0px solid #ddd;
    width: 140px;
}

.table.table-content > thead > tr > th {
    border-bottom: 0px solid #ddd;
    font-weight: normal;
    height: 70px;
    padding-bottom: 20px;
}

.taskContent .table.table-content > thead > tr > th:hover {
    height: 50px;
}

.table.table-content {
    font-size: 12px;
    font-family: 'Oxygen', sans-serif;
    font-weight: normal;
    color: #585858;
    border-bottom: 0px, solid;
    margin: 0px;
}

.panel > .panel-heading {
    background-image: none;
    background-color: white;
    box-shadow: none;
    padding-top: 0px;
    padding-bottom: 0px;
}

.taskContent .table.table-content > thead:hover {
    font-size: 12px;
    font-family: 'Oxygen', sans-serif;
    font-weight: normal;
    background: rgb(240, 240, 240);
    border-bottom: 0px, solid;
    margin: 0px;
    text-decoration: none;
}

.taskContent {
    margin-left: -15px;
    margin-right: -15px;
    color: #747474;
    font-weight: normal;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Oxygen', sans-serif;
    vertical-align: center;
}

.projectContent {
    margin-left: -15px;
    margin-right: -15px;
    color: #747474;
    font-weight: normal;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Oxygen', sans-serif;
}

.panel > .panel-heading .titleList > a:hover {
    text-decoration: none !important;
    color: rgb(47, 82, 114);
}

.panel-body {
    background-image: none;
    text-decoration: none;
    box-shadow: none;
    padding: 20px;
}

.bodyContent {
    list-style-type: none;
}

.bodyContent {
    color: #747474;
    font-size: 13px;
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
    line-height: 25px;
}

.key {
    display: none;
}

.finishButton {
    padding-top: 11px;
}

.finishButton:not():hover {
    padding-top: 11px;
}

.table.table-details > thead > tr > th {
    border-bottom: 0px solid #ddd;
    font-weight: normal;
    height: 70px;
    padding-bottom: 20px;
    text-align: left;
    color: #585858;
    font-size: 12px;
}
