.MarkTaskAsFinished {
  padding: 60px 0;
}

.MarkTaskAsFinished form {
  margin: 30 auto;
  max-width: 320px;
}

.buttonFinished {
  background-color: transparent;
  border: 1px solid #e35b5a;
  color: #e35b5a;
  font-family: Helvetica;
  font-weight:  normal;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  width: 130px;
  height: 32px;
  border-radius: 0;
}

.buttonFinished:hover {
  background-color: #e35b5a;
  color: white;

}