.genericButton {
    background-color: rgb(135, 190, 178);
    border: none;
    color: black;
    font-family: Helvetica;
    font-weight: normal;
    text-align: left;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 13px;
    width: 150px;
    height: 32px;
    border-radius: 0;
}

.genericButton:hover {
    background-color: #2a3f54;
    color: black;
}

.genericButton:focus {
    background-color: rgb(135, 190, 178);
    color: white;
}
