.dependencyGenericButton:hover {
    background-color: #2a3f54;
    color: white;
    border: white;
    border-radius: 0 !important;
}

.open > .dropdown-toggle.btn-default.dependencyGenericButton:active{
    background-color: rgb(135, 190, 178);
    color: white;
    border: white;
    border-radius: 0 !important;
}

.open > .dropdown-toggle.btn-default.dependencyGenericButton {
    background-color: rgb(135, 190, 178);
    color: white;
    border: white;
    border-radius: 0 !important;
}

.dependencyGenericButton {
    background-color: rgb(135, 190, 178);
    background-image: none;
    color: white;
    border: white;
    font-size: 12px;
    width: 150px;
    margin-bottom: 15px;
    height: 30px;
    border-radius: 0 !important;
}





.taskDependencies{
    margin-bottom: 15px;
    width: 100%
}

.taskDependencies > thead  {
   background-color: white;
}

.taskDependencies > thead > tr > th {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: normal;
    text-align: center;
    font-family: Helvetica;
    color: #585858;
    font-size: 12px;
    border-bottom: solid 1px #eeeeee;
}

#taskToCreateDependency{
    color: #757575;
    font-family: Helvetica;
    font-size: 16px;
}