.footer {
   position:fixed;
   bottom:0;
   width:100%;
   height:110px;
   background:#dcdde1;
   text-align: center;
}
.sponsor{

    padding-top:45px;

}
img {

    width: 150px;
padding-left: 20px;
padding-right: 20px;


}

.logo_isep {
    filter: grayscale();
}

.logo_isep:hover {
    filter: none;
}

.porto_techHub {
    filter: grayscale();
}

.porto_techHub:hover {
    filter: none;
}

.switch_icon {
    filter: grayscale();
}

.switch_icon:hover {
    filter: none;
}
