.footer {
    width: 100%;
    color: white;
    text-align: center;
}
img {
    width: 100px;
    margin: 20px;
}

.logo_isep {
    filter: grayscale();
}

.logo_isep:hover {
    filter: none;
}

.porto_techHub {
    filter: grayscale();
}

.porto_techHub:hover {
    filter: none;
}

.switch_icon {
    filter: grayscale();
}

.switch_icon:hover {
    filter: none;
}
